<!--导航地址-->
<div class="navitagorDiv" th:fragment="navigator">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<img style="margin-left:10px;margin-right:0px" class="pull-left" src="https://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/logo_.jpg" height="45px"> <!--后台头像-->
		<a class="navbar-brand" href="admin_category_list">零食小店铺后台</a>
		<a class="navbar-brand" href="admin_category_list">分类管理</a>
		<a class="navbar-brand" href="admin_user_list">用户管理</a>
		<a class="navbar-brand" href="admin_order_list">订单管理</a>

		<span th:if="${null!=session.userAdmin}" class="navbar-brand"> <!--如果用户已经登录的话-->
		管理员Lord~~ <a href="login" th:text="${session.userAdmin.name}"></a> 您好~
		<a href="logoutAdmin" >退出</a>
	</span>
	</nav>
</div>
