<div  th:fragment="addCategory" class="modal " id="addCategoryModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog loginDivInProductPageModalDiv">
        <div class="modal-content">
            <div class="loginDivInProductPage">
                <div style="margin-left:250px"><h3>添加分类</h3></div>
                <div class="panel addDiv">
                    <div class="panel-body">
                        <table class="addTable">
                            <tr>
                                <td>分类名称</td> <!-- @keyup.enter="add"  按回车键也是会触发add方法-->
                                <td><input  @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>分类图片</td>
                                <td>
                                    <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                                </td>
                            </tr>
                            <tr>
                                <!--图片回显-->
                                <img src="" alt=""  :src="imageUrl" height="100px" width="100px">
                            </tr>
                            <tr class="submitTR">
                                <td colspan="2" align="center">
                                    <a href="#"  @click="add" class="btn btn-success">提交</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
