<!--导航地址-->
<div class="navitagorDiv" th:fragment="navigator">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<img style="margin-left:10px;margin-right:0px" class="pull-left" src="img/site/adminSite.jpg" height="45px"> <!--后台头像-->
		<a class="navbar-brand" href="#">零食小店铺后台</a>
		<a class="navbar-brand" href="admin_category_list">分类管理</a>
		<a class="navbar-brand" href="admin_user_list">用户管理</a>
		<a class="navbar-brand" href="admin_order_list">订单管理</a>
		<span @click="modalAddCategory"><a class="navbar-brand" href="#">添加分类</a></span>
	</nav>
</div>
