<div  th:fragment="editCategory" class="modal" id="editCategoryModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog loginDivInProductPageModalDiv">
        <div class="modal-content">
            <div class="loginDivInProductPage">
                <div style="margin-left:250px"><h3>编辑分类</h3></div>
                <div class="panel addDiv">
                    <div class="panel-body">
                        <input type="hidden" id="categoryid">
                        <table class="editTable">
                            <tr>
                                <td>分类名称</td>   <!--v-model实现 双向绑定 -->
                                <td><input  @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>分类图片</td>
                                <td>
                                    <!--文件   accept 和 file结合使用-->
                                    <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                                </td>
                            </tr>
                            <tr>
                                <!--图片回显-->
                                <img src="" alt=""  :src="imageUrl" height="100px" width="100px">
                            </tr>
                            <tr class="submitTR">
                                <td colspan="2" align="center">
                                    <!--隐藏域   为了更新的时候 保留这个id 才能进行更新操作-->
                                    <input type="hidden" name="id"   v-model.trim="bean.id" >
                                    <a href="#" class="btn btn-success" @click="update">提 交</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
