<div th:fragment="html">
    <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/logo_.jpg" id="catear" class="catear"/>

    <div class="categoryWithCarousel">
        <div class="headbar show1">
            <div class="head ">
                <span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
                <span style="margin-left:10px" >零食分类</span>
            </div>
            <div class="rightMenu"> <!--右侧显示的分类数目 显示7个-->
                <span v-for="c,index in categories" v-if='index<=7'>
						<a :href="'toforeCategory?cid='+c.id">{{c.name}}</a>
					</span>
            </div>

        </div>

        <div style="position: relative">
            <div th:replace="include/fore/homePage/categoryMenu::html" ></div>
        </div>

        <div style="position: relative;left: 0;top: 0;">
            <div th:replace="include/fore/homePage/productsAsideCategorys::html" ></div>
        </div>


        <div th:replace="include/fore/homePage/carousel::html" ></div>

        <div class="carouselBackgroundDiv">
        </div>

    </div>
</div>



