<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/ForeCommonJs::html" ></head>  <!--引入js和css等 和一些公关的js函数-->
<body>
<script>
    $(function(){
        var data4Vue = {
            user:{name:'',password:''},
            uri:"login"
        };
        var vue = new Vue({
            el:"#workingArea",
            data:data4Vue,
            mounted:function () {
            },
            methods:{
                login:function () { //登录
                    if(0==this.user.name.length){
                        $("span.errorMessage").html("请输入用户名");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(0==this.user.password.length){
                        $("span.errorMessage").html("请输入密码");
                        $("div.loginErrorMessageDiv").css("visibility","visible");//错误提示
                        return;
                    }
                    var url = this.uri;
                    axios.post(url,this.user).then(function (res) { //登录
                        var result = res.data;
                        if(result.code == 1){
                            location.href = "home"; //登录成功的话调至到主页
                        }else{
                            $("span.errorMessage").html(result.message);
                            $("div.loginErrorMessageDiv").css("visibility","visible");//错误提示
                        }
                    });
                }
            }
        });
        var left = window.innerWidth/2+162;
        $("div.loginSmallDiv").css("left",left);
    })
</script>

<!--展示区域-->
<div id="workingArea">
    <div id="loginDiv" style="position: relative">
        <div class="simpleLogo">
            <!--<a th:href=""><img src=""></a>-->
        </div>
        <img id="loginBackgroundImg" class="loginBackgroundImg" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/login_back.jpg">
        <div id="loginSmallDiv" class="loginSmallDiv">
            <div class="loginErrorMessageDiv">
                <div class="alert alert-danger" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span class="errorMessage">22</span>
                </div>
            </div>
            <div class="login_acount_text">用户登录</div>
            <div class="loginInput " >
					<span class="loginInputIcon ">
						<span class=" glyphicon glyphicon-user"></span>
					</span>
                <input v-model="user.name" placeholder="手机/会员名/邮箱" type="text" @keyup.enter="login">
            </div>

            <div class="loginInput " >
					<span class="loginInputIcon ">
						<span class=" glyphicon glyphicon-lock"></span>
					</span>
                <input v-model="user.password" type="password" placeholder="密码" @keyup.enter="login">
            </div>
            <div>
                <a class="notImplementLink" href="#">忘记登录密码</a>
                <a href="register" class="pull-right">注册</a>
            </div>
            <div style="margin-top:20px">
                <button class="btn btn-block redButton" type="button" @click="login">登录</button>
            </div>
        </div>
    </div>
</div> <!--workingArea-->
<div th:replace="include/fore/footer::html" ></div>
</body>
</html>
