<div th:fragment="html">
    <script>
        $(function(){
            var pid = getUrlParms("pid");    //获取url上的pid 产品id
            var data4Vue = {
                uri:"foreproduct",
                product:{category:{},name:''},
                propertyvalues:[],  //属性值
                reviews:[],   //评价
                category:{},//分类
                productImageId:'', //图片展示的id
                showReview:false,
                showDetail:true,  //是否展示详情图
                user:{name:'',password:''},
                userfindpass:{name:'',phone:'',password: '',code:''}, //找回密码相关
                message:{},
                code:null
            };
            var vue = new Vue({
                el:"#workingArea",
                data:data4Vue,
                mounted:function () {
                    this.load();
                },
                methods:{
                    modalFindPass:function(){
                        $("#findPass").modal('show'); //展示找回密码的模态框
                    },
                    send:function(){ //发送验证码
                        this.message.phone = this.userfindpass.phone;
                        if(0==this.userfindpass.phone.length){
                            $("span.errorMessage").html("请输入接受验证码的手机");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        var phone = this.userfindpass.phone;
                        if(!(/^1[34578]\d{9}$/.test(phone))){
                            $("span.errorMessage").html("手机号码格式错误");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        var url = "sendMs?phone="+ this.message.phone;
                        axios.get(url).then(function (res) {
                            var code = res.data.data;
                            vue.code = hex_md5(code);
                        });
                    },
                    find:function(){  //找回密码
                        if(0==this.userfindpass.name.length){
                            $("span.errorMessage").html("请输入用户名");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.userfindpass.phone.length){
                            $("span.errorMessage").html("请输入接受验证码的手机");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        var phone = this.userfindpass.phone;
                        if(!(/^1[34578]\d{9}$/.test(phone))){
                            $("span.errorMessage").html("手机号码格式错误");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.userfindpass.password.length){
                            $("span.errorMessage").html("请输入新密码");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }

                        if(this.userfindpass.password !=this.userfindpass.repeatpassword){
                            $("span.errorMessage").html("密码不一致");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }

                        if(hex_md5(this.userfindpass.code) !=this.code){
                            $("span.errorMessage").html("验证码不一致");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        var url = "userfindpass";
                        axios.post(url,this.userfindpass).then(function (res) {
                            var result = res.data.code;

                            if(result == 1){
                                alert("hey 修改密码成功~~~ 现在转向登录界面~~");
                                location.href="toLogin";
                            }else{
                                $("span.errorMessage").html(res.data.message);
                                vue.code =null;
                            }
                        });


                    },
                    toggle2Review:function () { //隐藏商品详情 展示评价信息
                        this.showReview = true;
                        this.showDetail = false;
                    },
                    toggle2Detail:function () {  //隐藏评价详情 展示商品详情信息
                        this.showReview = false;
                        this.showDetail = true;
                    },
                    load:function () {                    //展示产品的详情数据
                        var url = this.uri +"/" +pid;
                        axios.get(url).then(function (res) {
                            /*
                             //把数据放在map中
                             HashMap<String, Object> map = new HashMap<>();
                             map.put("product",product);  //产品
                             map.put("pvalues",propertys);  //产品的属性值
                             map.put("reviews",reviews); //产品的评价
                               private int code;  //状态吗
                                 private String message; //提示信息
                                 private Object data;  //数据


                              //无参数
                              public static Result success(){

                                  return new Result(SUCCESS_CODE,null,null);
                              }
                              //有参数
                              public static Result success(Object data){
                                  return new Result(SUCCESS_CODE,null,data);
                              }
                             */
                            //控制层返回的是 Result  result.data 是个map
                            var result = res.data;
                            vue.product = result.data.product;
                            vue.propertyvalues = result.data.pvalues;
                            vue.reviews=result.data.reviews;
                            //分类信息
                            vue.category = vue.product.category;
                            //显示图片 信息（imageid  单图显示）
                            vue.productImageId = vue.product.productImageId;
                            vue.$nextTick(function () {  //页面全部渲染成功后  监听事件
                                imgAndInfoPageRegisterListeners(vue);
                            });
                        });
                    }
                }
            });
        });
    </script>

    <title>零食小站产品->{{product.name}}信息</title>
   <!-- <div class="categoryPictureInProductPageDiv">
        <img v-if="category!=null" class="categoryPictureInProductPage" :src="'http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/category/'+category.imageurl">
    </div>-->
    <div class="productPageDiv">
        <!--购物车那块-->
        <div th:replace="include/fore/productPage/imgAndInfo::html" ></div>
        <!--评价内容-->
        <div th:replace="include/fore/productPage/productReview::html" ></div>
        <div th:replace="include/fore/productPage/productDetail::html" ></div>
    </div>
</div>
