<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:'foreBought',
                orders:[]
            };
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            vue.orders = response.data.data;
                            vue.$nextTick(function(){
                                linkDefaultActions();
                                orderPageRegisterListeners();
                            })
                        });
                    }
                }
            });
        })
        var deleteOrder = false;
        var deleteOrderid = 0;

        function orderPageRegisterListeners(){
            $("a[orderStatus]").click(function(){
                var orderStatus = $(this).attr("orderStatus");
                if('all'==orderStatus){
                    $("table[orderStatus]").show();
                }
                else{
                    $("table[orderStatus]").hide();
                    $("table[orderStatus="+orderStatus+"]").show();
                }

                $("div.orderType div").removeClass("selectedOrderType");
                $(this).parent("div").addClass("selectedOrderType");
            });


            /**
             * 删除订单操作  点击以后 跳出模态框
             */
            $("a.deleteOrderLink").click(function(){ //删除订单
                deleteOrderid = $(this).attr("oid");
                deleteOrder = false;
                $("#deleteConfirmModal").modal("show");
            });

            $("button.deleteConfirmButton").click(function(){
                deleteOrder = true;
                $("#deleteConfirmModal").modal('hide');
            });

            $('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
                if(deleteOrder){
                    var uri = "foreDeleteOrder?oid="+deleteOrderid;
                    axios.get(uri).then(function(response){
                        if(1==response.data.code){
                            $("table.orderListItemTable[oid="+deleteOrderid+"]").hide();
                        }
                        else{
                            location.href="login";
                        }
                    });
                }
            })
        }
    </script>
    <div class="boughtDiv">
        <div class="orderType">
            <div class="selectedOrderType"><a orderStatus="all" href="#">所有订单</a></div>
            <div><a  orderStatus="waitPay" href="waitPay">待付款</a></div>
            <div><a  orderStatus="waitDelivery" href="#">待发货</a></div>
            <div><a  orderStatus="waitConfirm" href="#">待收货</a></div>
            <div><a  orderStatus="waitReview" href="#" class="noRightborder">待评价</a></div>
            <div class="orderTypeLastOne"><a class="noRightborder">&nbsp;</a></div>
        </div>
        <div style="clear:both"></div>
        <div class="orderListTitle">
            <table class="orderListTitleTable">
                <tr>
                    <td>宝贝</td>
                    <td width="100px">单价</td>
                    <td width="100px">数量</td>
                    <td width="120px">实付款</td>
                    <td width="100px">交易操作</td>
                </tr>
            </table>
        </div>

<!--遍历查询回来的订单-->
        <div class="orderListItem">
            <table v-for="o in orders" class="orderListItemTable" :orderStatus="o.status" :oid="o.id">
                <tr class="orderListItemFirstTR">
                    <td colspan="2">
                        <b>{{o.createDate | formatDateFilter('YYYY-MM-DD') }}</b>
                        <span>订单号: {{o.orderCode}}
						</span>
                    </td>
                    <td  colspan="2"><img width="30px" height="40px" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/logo_.jpg">零食小站</td>
                    <td colspan="1">
                        <a class="wangwanglink" href="#">
                            <div class="orderItemWangWangGif"></div>  <!--  和我联系 （这里显示微信图片） -->
                        </a>
                    </td>
                    <td class="orderItemDeleteTD"><!--删除-->
                        <a class="deleteOrderLink" :oid="o.id" href="#">
                            <span  class="orderListItemDelete glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </tr>

                <tr class="orderItemProductInfoPartTR" v-for="oi,index in o.orderItemsForJson" >
                    <td class="orderItemProductInfoPartTD">
                        <!--产品单图-->
                        <img width="80" height="80" v-if="null != oi.product.singleImageUrlForJson" :src="'http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/products/single/'+oi.product.singleImageUrlForJson"></td>
                    <td class="orderItemProductInfoPartTD">
                        <div class="orderListItemProductLinkOutDiv">
                            <a :href="'toforeProduct?pid='+oi.product.id">{{oi.product.name}}</a>
                            <div class="orderListItemProductLinkInnerDiv">
                                <!--几张银行卡图片展示 和 承诺-->
                                <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/7day.png" title="支持信用卡支付">
                                <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/7day.png" title="支持信用卡支付">
                                <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/promise.png" title="消费者保障服务,承诺如实描述">
                            </div>
                        </div>
                    </td>
                    <td  class="orderItemProductInfoPartTD" width="100px"> <!--优惠价格和实际价格-->
                        <div class="orderListItemProductOriginalPrice">￥{{oi.product.originalPrice|formatMoneyFilter}}</div>
                        <div class="orderListItemProductPrice">￥{{oi.product.promotePrice|formatMoneyFilter}}</div>
                    </td>
                    <template v-if="index==0">
                        <td valign="top" :rowspan="o.orderItemsForJson.length" class="orderListItemNumberTD orderItemOrderInfoPartTD" width="100px">
                            <span class="orderListItemNumber">{{o.totalNum}}</span> <!--商品的数量-->
                        </td>
                        <td valign="top"  :rowspan="o.orderItemsForJson.length"  width="120px" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD">
                            <div class="orderListItemProductRealPrice">￥ {{o.totalPrice|formatMoneyFilter}}</div>
                            <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                        </td>
                        <td valign="top"  :rowspan="o.orderItemsForJson.length"  class="orderListItemButtonTD orderItemOrderInfoPartTD" width="100px">
                            <a v-if="o.status=='waitConfirm'" :href="'confirmPay?oid='+o.id">
                                <button class="orderListItemConfirm">确认收货</button>

                            </a>

                            <a v-if="o.status=='waitPay'" :href="'alipay?oid='+o.id+'&total='+o.total">
                                <button class="orderListItemConfirm">付款</button>
                            </a>

                            <div  v-if="o.status=='waitDelivery'">
                                <span>待发货</span>
                            </div>

                            <a v-if="o.status=='waitReview'" :href="'review?oid='+o.id">
                                <button  class="orderListItemReview">评价</button>
                            </a>
                        </td>
                    </template>
                </tr>
            </table>
        </div>
    </div>
</div>
