<!--搜索页-->
<div class th:fragment="html">
    <a th:href="${application.contextPath}">  <!--logo-->  <!-- 主页-->
        <img id="logo" width="300px" height="80px" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/logo_.jpg" class="logo">
    </a>

    <!--搜索框  Get请求 -->
    <form action="toForeSearch" method="get" >
        <div class="searchDiv">
            <input name="keyword" type="text" placeholder="辣条 卫龙 薯片">
            <button  type="submit" class="searchButton">搜索</button>
            <div class="searchBelow">  <!--搜索框  下面推荐的分类-->
                <!--categories_below_search 已经放在context域中-->
				<span th:each="c,status: ${application.categories_below_search}" th:if="${status.index>=5 && status.index<=8}">
					<a th:href="@{'toforeCategory?cid='+${c.id}}" th:text="${c.name}" ></a> <!--点击超链接的话 跳转到该分类下的产品-->
					<span th:if="${status.index!=8}">|</span>
	            </span>

            </div>
        </div>
    </form>
</div>
