<!--确认收货界面-->
<div th:fragment="html">
    <script>
        $(function(){
            var oid = getUrlParms("oid");
            var data4Vue = {
                uri:'foreConfirmPay',
                order:[]
            };
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    this.load();
                },
                methods: {
                    confirmGetSnack:function(oid){ //确认收货
                        var url = "foreOrderConfirmed?oid="+oid;
                        axios.get(url).then(function(response) {
                             if(response.data.code == 1){
                                 alert("交易成功~~  跳转我的订单页");
                                 location.href="bought";
                             }
                        });
                    },
                    load:function(){
                        var url =  this.uri+"?oid="+oid;
                        axios.get(url).then(function(response) {
                            vue.order = response.data;
                        });
                    }
                }
            });

        })
    </script>
    <div class="confirmPayPageDiv">
        <div class="confirmPayImageDiv"> <!--确认收货流程界面-->
            <img src="https://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/comformPayFlow.png">
            <div  class="confirmPayTime1">
                <fmt:formatDate value="{{order.createDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
            </div>
            <div  class="confirmPayTime2">
                <fmt:formatDate value="{{order.payDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
            </div>
        </div>
        <div class="confirmPayOrderInfoDiv">
            <div class="confirmPayOrderInfoText">我已收到货，同意支付宝付款</div>
        </div>
        <div class="confirmPayOrderItemDiv">
            <div class="confirmPayOrderItemText">订单信息</div>
            <table class="confirmPayOrderItemTable">
                <thead>
                <tr>
                    <th colspan="2">宝贝</th>
                    <th width="120px">单价</th>
                    <th width="120px">数量</th>
                    <th width="120px">商品总价 </th>
                    <th width="120px">运费</th>
                </tr>
                </thead>
                <tr v-for="oi in order.orderItemsForJson">
                    <td>
                        <img width="50px"
                             v-if="null != oi.product.singleImageUrlForJson"
                             :src="'http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/products/single/'+oi.product.singleImageUrlForJson">
                    </td>
                    <td class="confirmPayOrderItemProductLink">
                        <a :href="'toforeProduct?pid='+oi.product.id">{{oi.product.name}}</a>
                    </td>
                    <td>￥{{oi.product.originalPrice|formatMoneyFilter}}</td>
                    <td>1</td>
                    <td><span class="conformPayProductPrice">￥{{oi.product.promotePrice|formatMoneyFilter}}</span></td>
                    <td><span>快递 ： 0.00 </span></td>
                </tr>
            </table>

            <div class="confirmPayOrderItemText pull-right">
                实付款： <span class="confirmPayOrderItemSumPrice">￥{{order.totalPrice|formatMoneyFilter}}</span>
            </div>


        </div>
        <div class="confirmPayOrderDetailDiv">

            <table class="confirmPayOrderDetailTable">
                <tr>
                    <td>订单编号：</td>
                    <td>{{order.orderCode}}</td>
                </tr>
                <tr>
                    <td>收货信息： </td>
                    <td>地址：{{order.address}}，收货人：{{order.receiver}}，收货号码： {{order.mobile}}，邮编：{{order.post}} </td>
                </tr>
                <tr>
                    <td>成交时间：</td>
                    <td>{{order.createDate|formatDateFilter}}</td>
                </tr>
            </table>

        </div>
        <div class="confirmPayButtonDiv">
            <div class="confirmPayWarning">已经收到零食</div>  <!--更新订单的状态-->
            <a><button class="confirmPayButton" @click="confirmGetSnack(order.id)">确认收货</button></a>
        </div>
    </div>
</div>
