<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:'forecart',
                orderItems:[]
            };
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            vue.orderItems = response.data;
                            vue.$nextTick(function(){
                                //linkDefaultActions();
                                cartPageRegisterListeners();
                            })
                        });
                    }
                }
            }); //vue结束

        }); //$(function)

        //定义一些函数  界面商品数量的添加以及删除
        var deleteOrderItemid = 0; //需要删除的 订单项id
        var deleteFlag = false;  //点击了删除确认的标记

        function cartPageRegisterListeners(){
            //这里仅仅是订单项列表的删除按钮
            $("a.deleteOrderItem").click(function () {
                deleteFlag = false;
                //获取oiid属性值   这个属性使用vue绑定了值
                var oiid = $(this).attr("oiid");
                deleteOrderItemid = oiid;
                //显示出模态的删除确认框
                $("#deleteConfirmModal").modal('show');
            });
            //点击弹出的模态 删除确认框的  确认后
            $("button.deleteConfirmButton").click(function(){
                //标记为true
                deleteFlag = true;
                //隐藏模态框
                $("#deleteConfirmModal").modal('hide');
            });

            //当模态框完全对用户隐藏时触发函数
            $("#deleteConfirmModal").on('hidden.bs.modal',function () {
                if(deleteFlag){
                    var url = "foreDeleteOrderItem?oiid="+deleteOrderItemid;
                    axios.get(url).then(function (res) { //删除订单项
                        var result = res.data.code;
                        if(result == 1){
                            location.href = "toCart";
                        }
                    });
                }
            });

            //选择框
            $("img.cartProductItemIfSelected").click(function(){
                var selectit = $(this).attr("selectit")
                if("selectit"==selectit){
                    $(this).attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png");
                    $(this).attr("selectit","false")
                    $(this).parents("tr.cartProductItemTR").css("background-color","#fff");
                }
                else{
                    $(this).attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartSelected.png");
                    $(this).attr("selectit","selectit")
                    $(this).parents("tr.cartProductItemTR").css("background-color","#FFF8E1");
                }
                syncSelect();
                syncCreateOrderButton();
                calcCartSumPriceAndNumber();
            });
            //全选
            $("img.selectAllItem").click(function(){
                var selectit = $(this).attr("selectit")
                if("selectit"==selectit){
                    $("img.selectAllItem").attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png");
                    $("img.selectAllItem").attr("selectit","false")
                    $(".cartProductItemIfSelected").each(function(){
                        $(this).attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png");
                        $(this).attr("selectit","false");
                        $(this).parents("tr.cartProductItemTR").css("background-color","#fff");
                    });
                }
                else{
                    $("img.selectAllItem").attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartSelected.png");
                    $("img.selectAllItem").attr("selectit","selectit")
                    $(".cartProductItemIfSelected").each(function(){
                        $(this).attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartSelected.png");
                        $(this).attr("selectit","selectit");
                        $(this).parents("tr.cartProductItemTR").css("background-color","#FFF8E1");
                    });
                }
                syncCreateOrderButton();
                calcCartSumPriceAndNumber();
            });

            //设置数量
            $(".orderItemNumberSetting").keyup(function(){
                var pid=$(this).attr("pid");
                var stock= $("span.orderItemStock[pid="+pid+"]").text();
                var price= $("span.orderItemPromotePrice[pid="+pid+"]").text();

                var num= $(".orderItemNumberSetting[pid="+pid+"]").val();
                num = parseInt(num);
                if(isNaN(num))
                    num= 1;
                if(num<=0)
                    num = 1;
                if(num>stock)
                    num = stock;

                syncPrice(pid,num,price);
            });

            //数量加1   jQuery的选择器
            $(".numberPlus").click(function(){
                var pid=$(this).attr("pid"); //获取到该订单项的产品id
                var stock= $("span.orderItemStock[pid="+pid+"]").text();  //获取到产品的库存信息
                var price= $("span.orderItemPromotePrice[pid="+pid+"]").text(); //获取产品价格
                var num= $(".orderItemNumberSetting[pid="+pid+"]").val(); //手动设置的订单项中产品的数量
                num++;
                if(num>stock)
                    num = stock;
                syncPrice(pid,num,price);
            });
            //数量减1
            $(".numberMinus").click(function(){
                var pid=$(this).attr("pid");
                var stock= $("span.orderItemStock[pid="+pid+"]").text();
                var price= $("span.orderItemPromotePrice[pid="+pid+"]").text();

                var num= $(".orderItemNumberSetting[pid="+pid+"]").val();
                --num;
                if(num<=0)
                    num=1;
                syncPrice(pid,num,price);
            });

            // 结算   （和立即购买一样的效果）
            $("button.createOrderButton").click(function(){
                var params = "";
                $(".cartProductItemIfSelected").each(function(){
                    if("selectit"==$(this).attr("selectit")){
                        var oiid = $(this).attr("oiid");
                        params += "&oiids="+oiid;
                    }
                });
                params = params.substring(1);
                location.href="toOrderSetAccount?"+params; // 跳转到结算页
            });

        }  // cartPageRegisterListeners 函数结束

        //定义的一些其他函数  主要是css的设置
        function syncCreateOrderButton(){
            var selectAny = false;
            $(".cartProductItemIfSelected").each(function(){
                if("selectit"==$(this).attr("selectit")){
                    selectAny = true;
                }
            });

            if(selectAny){
                $("button.createOrderButton").css("background-color","#C40000");
                $("button.createOrderButton").removeAttr("disabled");
            }
            else{
                $("button.createOrderButton").css("background-color","#AAAAAA");
                $("button.createOrderButton").attr("disabled","disabled");
            }

        } //syncCreateOrderButton  函数结束
        function syncSelect(){
            var selectAll = true;
            $(".cartProductItemIfSelected").each(function(){
                if("false"==$(this).attr("selectit")){
                    selectAll = false;
                }
            });

            if(selectAll)
                $("img.selectAllItem").attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartSelected.png");
            else
                $("img.selectAllItem").attr("src","http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png");
        } // syncSelecte 函数结束

        function calcCartSumPriceAndNumber(){
            var sum = 0;
            var totalNumber = 0;
            $("img.cartProductItemIfSelected[selectit='selectit']").each(function(){
                var oiid = $(this).attr("oiid");
                var price =$(".cartProductItemSmallSumPrice[oiid="+oiid+"]").text();
                price = price.replace(/,/g, "");
                price = price.replace(/￥/g, "");
                sum += new Number(price);
                var num =$(".orderItemNumberSetting[oiid="+oiid+"]").val();
                totalNumber += new Number(num);
            });

            $("span.cartSumPrice").html("￥"+formatMoney(sum));
            $("span.cartTitlePrice").html("￥"+formatMoney(sum));
            $("span.cartSumNumber").html(totalNumber);
        }  //calcCartSumPriceAndNumber 函数结束

        /**
         *
         * @param pid  产品id
         * @param num  产品数量
         * @param price  价格
         */
        function syncPrice(pid,num,price){
            $(".orderItemNumberSetting[pid="+pid+"]").val(num); //更新数量框中订单项的数量
            var cartProductItemSmallSumPrice = formatMoney(num*price); //计算总共的价格
            $(".cartProductItemSmallSumPrice[pid="+pid+"]").html("￥"+cartProductItemSmallSumPrice); //总共的价格
            calcCartSumPriceAndNumber();
            var url = "foreChangeOrderItemProductNums?pid="+pid+"&num="+num; //更新订单项中产品的数量(数据库)
            axios.get(url).then(function(response){ //更新 订单项中的数量
                if(2 == response.data.code){ //如果更新数量错误的话
                    location.href="toLogin";
                }
            });
        } // syncPrice 结束
    </script>

    <title>购物车</title>
    <div class="cartDiv">
        <div class="cartTitle pull-right">
            <span>已选商品  (不含运费)</span>
            <span class="cartTitlePrice">￥0.00</span>
            <button class="createOrderButton" disabled="disabled">结 算</button>
        </div>

<!--购物车列表-->
        <div class="cartProductList">
            <table class="cartProductTable">
                <thead>
                <tr>
                    <th class="selectAndImage">
                        <img selectit="false" class="selectAllItem" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png">
                        全选
                    </th>
                    <th>商品信息</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th width="120px">金额</th>
                    <th class="operation">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--数据遍历-->
                <tr :oiid="oi.id"  v-for="oi in orderItems" class="cartProductItemTR">
                    <td>
                        <img selectit="false" :oiid="oi.id" class="cartProductItemIfSelected" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png">
                        <a style="display:none" href="#"><img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartSelected.png"></a>
                       <!--产品单图-->
                        <img class="cartProductImg"  v-if="null != oi.product.singleImageUrlForJson" :src="'http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/products/single/'+oi.product.singleImageUrlForJson">
                    </td>
                    <td>
                        <div class="cartProductLinkOutDiv">
                            <a :href="'toforeProduct?pid='+oi.product.id" class="cartProductLink">{{oi.product.name}}</a>
                            <div class="cartProductLinkInnerDiv">
                                <!--几张银行卡图片展示 和 承诺-->
                                <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/7day.png" title="支持信用卡支付">
                                <img src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/promise.png" title="消费者保障服务,承诺如实描述">
                            </div>
                        </div>

                    </td>
                    <td>
                        <span class="cartProductItemOringalPrice">￥{{oi.product.originalPrice|formatMoneyFilter}}</span>
                        <span  class="cartProductItemPromotionPrice">￥{{oi.product.promotePrice|formatMoneyFilter}}</span>

                    </td>
                    <td>

                        <!--设置的隐藏域    库存信息  -->
                        <div class="cartProductChangeNumberDiv">
                            <span class="hidden orderItemStock " :pid="oi.product.id">{{oi.product.stock}}</span>
                            <span class="hidden orderItemPromotePrice " :pid="oi.product.id">{{oi.product.promotePrice}}</span>
                          <!--数量的添加和减少-->
                            <a  :pid="oi.product.id" class="numberMinus" href="#">-</a>  <!--数量减1-->
                           <!--手动设置 订单项中的商品数量-->
                            <input :pid="oi.product.id" :oiid="oi.id" class="orderItemNumberSetting" autocomplete="off" :value="oi.number">
                            <a  :stock="oi.product.stock" :pid="oi.product.id" class="numberPlus" href="#">+</a><!--数量加1-->
                        </div>

                    </td>
                    <td >
								<span class="cartProductItemSmallSumPrice" :oiid="oi.id" :pid="oi.product.id" >
									￥ {{oi.product.promotePrice*oi.number|formatMoneyFilter}} <!--总共的价格-->
								</span>

                    </td>
                    <td>
                        <a class="deleteOrderItem" :oiid="oi.id"  href="#">删除</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <!--购物车列表的下面部分-->
        <div class="cartFoot">
            <img selectit="false" class="selectAllItem" src="http://snacktrade.oss-cn-beijing.aliyuncs.com/snackpics/cartNotSelected.png">
            <span>全选</span>
            <!-- 		<a href="#">删除</a> -->

            <div class="pull-right">
                <span>已选商品 <span class="cartSumNumber" >0</span> 件</span>

                <span>合计 (不含运费): </span>
                <span class="cartSumPrice" >￥0.00</span>
                <button class="createOrderButton" disabled="disabled" >结  算</button>
            </div>

        </div>

    </div>
</div>
